*
!app/
!artisan
!bootstrap/app.php
!bootstrap/cache/.gitignore
!composer.json
!composer.lock
!config/
!database/
!phpunit.xml
!psalm.xml
!public/
!resources/
!server.php
!src/
!storage/framework/views/.gitignore
!tests/
